@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Gothic&family=Montez");

@font-face {
  font-family: "Cera Pro Bold";
  src: url(../assets/Cera-Pro/Cera\ Pro\ Bold.otf) format();
}

@font-face {
  font-family: "Cera Pro Light";
  src: url(../assets/Cera-Pro/Cera\ Pro\ Light.otf);
}

@font-face {
  font-family: "Cera Pro Regular";
  src: url(../assets/Cera-Pro/Cera\ Pro\ Regular.otf);
}

@font-face {
  font-family: "Cera Pro Medium";
  src: url(../assets/Cera-Pro/Cera\ Pro\ Medium.otf) format("opentypefont");
}

@font-face {
  font-family: "Cera Pro Thin";
  src: url(../assets/Cera-Pro/Cera\ Pro\ Thin.otf);
}

*{
  margin: 0px;
  padding: 0px;
}

.titulo {
  width: 350px;
  height: 126px;
  left: 10px;
  top: 33px;
  margin-left: 5rem;
  font-family: "Montez";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 126px;
  background: linear-gradient(90deg, #00d1ff -3.19%, #0085ff 91.19%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.links{
  color: black;
}

.links:hover{
  color: rgba(12, 12, 49, 1);
}

.links_theme{
  color: white;
  font-family: "Cera Pro Regular";
}

.links_theme:hover{
  color: #0085ff;
}

.nav{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration:none;
  border-radius: 10px;
  background-color: #00d1ff;
  box-shadow: #00d1ff 2px 2px 10px 1px;
  width: 120px;
  height: 40px;
  position: relative;
  left: 60px;
  transition: all 0.3s;
}

.nav:hover{
  transform: scale(1.1);
}

.nav_theme{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration:none;
  border-radius: 10px;
  background-color:rgba(12, 12, 49, 1);
  box-shadow:rgba(12, 12, 49, 1) 2px 2px 10px 1px;
  width: 120px;
  height: 40px;
  position: relative;
  left: 60px;
  transition: all 0.3s;
}

.nav_theme:hover{
  transform: scale(1.1);
}

.opciones {
  font-size: 20px;
  display: flex;
  margin-right: 10rem;
  flex-direction: row;
  gap: 15px;
  font-family: "Cera Pro Regular";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.opciones h3 {
  cursor: pointer;
}
.opciones h3:hover {
  text-decoration: underline;
}

.contenedor {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: -9px -13px 34px -4px rgba(102,98,102,1);
  -moz-box-shadow: -9px -13px 34px -4px rgba(102,98,102,1);
  box-shadow: -9px -13px 34px -4px rgba(102,98,102,1);
}

.opcionesNavham{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  right: 2rem;
  display: flex;
}
.contenedorOpcionesNavHam{
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  display: flex;
  position: absolute;
  right: 0;
  top: -50px;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color:white;
}
.navHam{
  transition: 0.3s;
}
.navHam:hover{
  background-color: azure;
}
.contenedorOpcionesNavHam a{
  text-decoration: none;
  font-size: 30px;
  width: 100px;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid lightgray;
}

@media (max-width:1170px){
  .opciones{
    display: none;
  }
  .hamburguer{
    display: block;
    margin-right:2rem;
  }
  
}
@media(max-width:700px){
  .titulo{
    margin: 0;
  }
  .hamburguer{
    margin-right: 1rem;
    margin-left: 1rem;
  }
}