.Buscador {
    background: #50C4ED;
    border-radius: 50px;
    color: black;
    background-size: 24px;
    width: 1050px;
    height: 100px;
    position: relative;
    left: 500px;
    top: 50px;
    font-size:50px ;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    outline: none;
    -webkit-box-shadow: 3px 10px 35px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 10px 35px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 10px 35px -6px rgba(0, 0, 0, 0.6);
}
.page{
    position: absolute;
    display: flex;
    font-size: 40px;
    gap: 20px;
    bottom: -150px;
    left: 40%;
    background-color: #50C4ED;
    border-radius: 47px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.page a{
    cursor: pointer;
}
.page a:hover{
    text-decoration: underline;
}



.contenedor{
    position: relative;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px ;
    left: 350px;
    top: 200px;
}