.Buscador {
    background: #50C4ED;
    border-radius: 50px;
    color: black;
    background-size: 24px;
    width: 1050px;
    height: 100px;
    position: relative;
    left: 500px;
    top: 50px;
    font-size:50px ;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    outline: none;
    border:1px solid black;
    -webkit-box-shadow: 3px 10px 35px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 10px 35px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 10px 35px -6px rgba(0, 0, 0, 0.6);
}
.icono{
    position: relative;
    left: 1420px;
    width:90px;
    bottom:45px;
    cursor: pointer;
}
.page{
    position: absolute;
    display: flex;
    font-size: 40px;
    gap: 20px;
    bottom: -150px;
    left: 40%;
    background-color: #50C4ED;
    border-radius: 47px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.page a{
    cursor: pointer;
}
.page a:hover{
    text-decoration: underline;
}



.contenedor{
    position: relative;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px ;
    left: 350px;
    top: 200px;
}
body{
    overflow-x:hidden;
}
.numRes{
    position: relative;
    left:350px;
    width:fit-content;
    font-size:40px;
    top:180px;
}

@media (max-width: 820px) {
    .Buscador{
        left: 5%;
        width: 90%;
    }
    .contenedor{
        width: 100%;
        grid-template-columns: repeat(20, 1fr);
        overflow-x: hidden;
        gap: 800px;
        left: 30%;
    }
    .page{
        display:none;
    }
    .numRes{
        left:210px
    }
    .botonIzquierda{
        display: relative;
        transform: rotateY(180deg);
        left: 0;
        top: 50%;
        width: fit-content;
    }
    .icono{
        left:600px;
    }
  }
  