@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Gothic&family=Montez");


.Buscador {
    background: #50C4ED;
    border-radius: 50px;
    color: black;
    background-size: 24px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 61px;
    position: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 500px;
    top: 200px;
    font-family: "Cera Pro Regular";
    font-size:30px ;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    outline: none;
    -webkit-box-shadow: 3px 10px 35px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 10px 35px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 10px 35px -6px rgba(0, 0, 0, 0.6);
}

.buscar{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
}

.icono{
    position: absolute;
    right: 23%;
    top: 215px;
    width: 50px;
    cursor: pointer;
}

.page{
    display: flex;
    font-size: 40px;
    gap: 20px;
    background-color: #50C4ED;
    border-radius: 47px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    margin-top: 1em;
}
.page_padre{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 40px;
    gap: 20px;
    border-radius: 47px;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    margin-top: 1em;
}

.page a{
    cursor: pointer;
}
.page a:hover{
    text-decoration: underline;
}

.slider_der {
    width: 60px;
    height: 200px;
    border-radius: 20px;
    margin-left: 10px;
    align-items: center;
    text-align: center;
    background-color: rgba(80, 196, 237, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: transform 0.3s ease;
    -webkit-box-shadow: 3px 10px 35px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 10px 35px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 10px 35px -6px rgba(0, 0, 0, 0.6);
  }
  
  .slider_der:hover {
    transform: scale(1.1);
  }

  .slider_izq {
    width: 60px;
    height: 200px;
    border-radius: 20px;
    margin-right: 10px;
    align-items: center;
    text-align: center;
    background-color: rgba(80, 196, 237, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: transform 0.3s ease;
    -webkit-box-shadow: 3px 10px 35px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 10px 35px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 10px 35px -6px rgba(0, 0, 0, 0.6);
  }
  
  .slider_izq:hover {
    transform: scale(1.1);
  }


.contenedor_home_principal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    height: 500px;
}

.card_pelicula_buscador{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: 35px;
    margin-right: auto;
    gap: 20px;
}

.contenedor_imagen{
    position: absolute;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    filter: blur(4px);
    top: 180px;
}

.numRes{
    margin-left: 10rem;
    width:fit-content;
    font-size:40px;
    top:130px;
    color: white;
    letter-spacing: 1px;
}

@media(max-width:1470px){
    .contenedor{
        grid-template-columns: repeat(3,1fr);
        width: 100%;
    }
    .page{
        left: 500px;
        height: fit-content;  
    }
}
@media(max-width:1170px){
    .contenedor{
        grid-template-columns: repeat(2,1fr);
    }
    .page{
        left: -200px;
    }
}

@media ( max-width: 820px) {
    .Buscador{
        left: 5%;
        width: 90%;
    }
    .contenedor{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        left: 30%;
    }
    .page{
        display:none;
    }
    .numRes{
        left:210px
    }
    .botonIzquierda{
        display: relative;
        transform: rotateY(180deg);
        left: 0;
        top: 50%;
        width: fit-content;
    }
    .icono{
        left:650px;
    }
  }
  
  
@media (max-width: 810px) {
   
    .icono{
        left:630px;
    }
  }
  @media (max-width: 788px) {
   
    .icono{
        left:610px;
    }
  }
  @media (max-width: 765px) {
   
    .icono{
        left:600px;
    }
  }
  @media (max-width: 755px) {
   
    .icono{
        left:590px;
    }
  }
  @media (max-width: 740px) {
   
    .icono{
        left:580px;
    }
  }
  @media (max-width: 730px) {
   
    .icono{
        left:570px;
    }
  }
  @media (max-width:720px) {
   
    .icono{
        left:560px;
    }
  }
  @media (max-width:705px) {
   
    .icono{
        left:550px;
    }
  }

  @media (max-width:695px) {
   
    .icono{
        left:540px;
    }
  }
  @media (max-width:682px) {
   
    .icono{
        left:530px;
    }
  }

  @media (max-width:670px) {
   
    .icono{
        left:520px;
    }
  }


  @media (max-width:660px) {
   
    .icono{
        left:510px;
    }
  }


  @media (max-width:650px) {
   
    .icono{
        left:500px;
    }
  }

  @media (max-width:637px) {
   
    .icono{
        left:490px;
    }
  }
  @media (max-width:625px) {
   
    .icono{
        left:480px;
    }
  }
  @media (max-width:615px) {
   
    .icono{
        left:470px;
    }
  }
  @media (max-width:600px) {
   
    .icono{
        left:460px;
    }
  }
  @media (max-width:590px) {
   
    .icono{
        left:450px;
    }
  }
  @media (max-width:577px) {
   
    .icono{
        left:440px;
    }
  }
  @media (max-width:566px) {
   
    .icono{
        left:430px;
    }
  }
  @media (max-width:556px) {
   
    .icono{
        left:410px;
    }
  }

  @media (max-width:532px) {
   
    .icono{
        left:390px;
    }
  }
  @media (max-width:508px) {
   
    .icono{
        left:370px;
    }
  }

  @media (max-width:480px) {
   
    .icono{
        left:340px;
    }
  }

  @media (max-width:450px) {
   
    .icono{
        left:310px;
    }
  }
  @media (max-width:417px) {
   
    .icono{
        left:300px;
    }
  }
