*{
    margin: 0;
    padding: 0;
}
.article{
    position: relative;
    overflow-y: hidden;
    height: 450px;
    width: 320px;
    overflow: hidden;
    border-radius:20px ;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.h2{
    font-weight: 100;
}
.h3{
    font-weight: 100;
    max-height: 230px;
    overflow-y: hidden;
    margin-bottom: 1rem;
}
.article .poster{
    position: relative;
    overflow: hidden;
}
.article .poster::before{
    content: ' ';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0,#50C4ED,0%, transparent);
    transition:0.3s;
    z-index: 1;
}
.article:hover .poster::before{
    bottom: 0;
    background: linear-gradient(0,#50C4ED,70%, transparent);
}
.bottonMasTarde, .bottonVisto{
    position: absolute;
    display: flex;
    background: white;
    z-index: 2;
    width: 50%;
    height: 50px;
    cursor: pointer;
    bottom: -180px;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #50C4ED 0%, rgba(56, 122, 223, 0.85) 46.5%, #50C4ED 97%);
}

.bottonMasTarde{
    left: 50%;
}
.article .poster img{
    width: 100%;
    transition: 0.3s;
}
.article:hover .poster img{
    transform: translateY(-50px) ;
    filter: blur(5px);
}
.article:hover  .bottonMasTarde{
    bottom: 0;
}
.article:hover .bottonVisto{
    bottom: 0;
}
.bottonVisto:hover{
    background: linear-gradient(180deg, #3d93b3 0%, rgba(39, 87, 157, 0.85) 46.5%, #3583a0 97%);
}
.bottonMasTarde:hover{
    background: linear-gradient(180deg, #3d93b3 0%, rgba(39, 87, 157, 0.85) 46.5%, #3583a0 97%);
}
.article .contenedorInformacion{
    position: absolute;
    width: 300px;
    bottom: -500px;
    color: #FFFF;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    left: 0;
    transition: 0.5s;
}
.puntuacion{
    color: black;
    margin-top: 2rem;
}
.puntuacionBaja{
    border-radius: 1rem;
    padding: 0.5rem;
    width: fit-content;
    background-color: black;
    color: red;
}
.puntuacionMedia{
    border-radius: 1rem;
    padding: 0.5rem;
    width: fit-content;
    background-color: black;
    color:yellow;
}
.puntuacionAlta{
    
    border-radius: 1rem;
    padding: 0.5rem;
    width: fit-content;
    background-color: black;
    color: lightgreen;
}
.article .contenedorInformacion h3{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.article:hover .contenedorInformacion{
    bottom: 90px;
}