.linkI {
    width: 100%px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
  }

.opcionesIcontainer {
  border-radius: 15px;
}
.nombres{
  display: none;
}
.imagenes_footer{
  width: 64px;
  height: 64px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px solid white;
}
@media(max-width:700px){
  .nombres{
    display: block;
    color: black;
  }
}