.opcionesIviewContainer{
    width: 95vw;
    height: 100vh;
    justify-content: center;
    padding: 0px 15px;
    align-items: center;
    background-color:rgba(8, 8, 22, 1);
    border-radius: 10px;
    color: lightgray;
    margin-left: 5px;
}

.contenedor_link_opcionesIviews{
    margin-bottom: 10px;
}

.link_imagenes_views {
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: white;
    color: rgba(8, 8, 22, 1);
    padding: 8px;
    text-decoration: none;
}

.encabezado_opcionesIviewContainer{
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid white;
}

.imagen_opcionIviews{
    width: 55px;
    height: 55px;
    border-radius: 15px;
    border: 5px solid white;
}

.body_opcionesIviews{
    margin-top: 30px;
    padding-top: 10px;
    border-radius: 15px;
    padding-left: 10px;
    height: auto;
    width: 700px;
    align-items: center;
    justify-content: center;
    background-color: rgba(17, 17, 57, 1);
    color: lightgray;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
}

.volver_atras{
    margin-left: 5px;
    margin-top: 20px;
    padding: 5px;
    transition: 0.3s;
    position: absolute;
}

.volver_atras:hover{
    transform: scale(1.1);
}

.imagen_opcionI_ejemplo{
    width: 380px;
    height: 400px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
