.linkI {
    width: 105%px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
  }

.opcionesIcontainer {
  border-radius: 15px;
}
.nombres{
  display: none;
}
.imagenes_footer{
  width: 64px;
  height: 64px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px solid white;
  transition: all 0.3s;
  box-shadow: black 0px 7px 15px 1px;
  border-radius: 10px;
}

.imagenes_footer:hover{
  transform: scale(1.1);
}


@media(max-width:700px){
  .nombres{
    display: block;
    color: black;
  }
}