.contenedor{
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    width: fit-content;
    gap: 15px;
    padding-bottom: 4rem;

}
.tituloPopulares{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 54px;
    margin-top: 4rem;
}
.contenedorcarruseles{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}
.contenedorcarruseles div button{
    background-color: #00d1ff;
    color: black;
}
.contenedorcarruseles div button::before{
    color: black;
}
.idioma{
    position: absolute;
    right: 200px;
    top: 100px;
}

@media(max-width:1350px){
    .contenedor{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width:1000px){
    .contenedor{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:675px){
    .contenedor{
        grid-template-columns: repeat(1, 1fr);
    }
}