.contenedorPrincipal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 100px;
    background-image: url('https://i.pinimg.com/originals/c5/b5/24/c5b524ff9dff88de2ef97bf11b63c3d2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.3s;
}
.contenedorImagen{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    border: 3px solid #0085ff;
    -webkit-box-shadow: 0px 4px 34px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 34px 3px rgba(0,0,0,0.75);
box-shadow: 0px 4px 34px 3px rgba(0,0,0,0.75);
    
}
/* .imagen:first-child{
    position: relative;
    bottom: 100px;
    right: 50px; 
}

.imagen {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
} */

.contenedor:hover{
    scale: 1.2;
    -webkit-box-shadow: 0px 4px 34px 3px rgba(0, 191, 255, 0.75);
-moz-box-shadow: 0px 4px 34px 3px rgba(0, 202, 248, 0.75);
box-shadow: 0px 4px 34px 3px rgba(1, 251, 251, 0.75);
}

.iconoMas{
    width: 180px;
    background-color: white;
}
.contenedorIconoMas{
    width: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 2px solid #0085ff;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.3s;
    margin-bottom: 60px;
    -webkit-box-shadow: 0px 4px 34px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 34px 3px rgba(0,0,0,0.75);
box-shadow: 0px 4px 34px 3px rgba(0,0,0,0.75);
}
.contenedorIconoMas:hover{
    scale: 1.2;
    -webkit-box-shadow: 0px 4px 34px 3px rgba(0, 191, 255, 0.75);
-moz-box-shadow: 0px 4px 34px 3px rgba(0, 202, 248, 0.75);
box-shadow: 0px 4px 34px 3px rgba(1, 251, 251, 0.75);
}
.fondoContenedorFormulario{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}
.divContenedorFormulario{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.663);
}
.contenedorParametro{
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: left;
    justify-content: left;
}

h3{
    color:  rgb(90, 97, 236);
}

a:hover > h3{
    color: rgba(8, 8, 22, 1);
}

a:hover > .contenedor{
    scale: 1.2;
    -webkit-box-shadow: 0px 4px 34px 3px rgba(0, 191, 255, 0.75);
-moz-box-shadow: 0px 4px 34px 3px rgba(0, 202, 248, 0.75);
box-shadow: 0px 4px 34px 3px rgba(1, 251, 251, 0.75);
}

a{
    font-size: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.contenedorFormularioPrincipio{
    background-color: #0085ff;
    border-radius: 10px;
    width: 600px;
    height: 450px;
    
}
form{
    margin-top: 1rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 25px;
    align-items: left;
    text-align: center;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}
.contenedorParametro{
    margin-bottom: 20px;
}
.imgCerrar{
    width: 20px;
}
.imgCerrar:hover{
    scale: 1.1;
}

.contenedorCerrar{
    margin: 10px;
    display: flex;
    width: 95%;
    justify-content: flex-end;

}
.botonEnviar{
    border: none; 
    color: black; 
    padding: 14px 28px; 
    width: min-content;
    cursor: pointer; 
    border-radius: 5px; 
    background-color: white; border: 2px solid #007bff;
}
.botonEnviar:hover{
    background: #125c6e; color: white;
}