.contenedor{
   width: 100%;
   display: flex;
   background-color: white;
   justify-content: center;
   gap: 100px;
   margin-top: 5rem;
   padding-bottom: 2rem;
   border-top: 1px solid lightgray;
   padding-top: 2rem;
   -webkit-box-shadow: 2px -8px 79px -40px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -8px 79px -40px rgba(0,0,0,0.75);
    box-shadow: 2px -8px 79px -40px rgba(0,0,0,0.75);
}
.contenedorInterior{
    display: flex;
    gap: 20px;
}
@media(max-width:1200px){
    .contenedor{
        flex-direction: column;
        align-items: center;
    }
    .contenedorInterior{
        width: fit-content;
    }
}
@media(max-width:700px){
    .contenedorInterior{
        flex-direction: column;
    }
}