.contenedor{
   width: 100%;
   display: flex;
   background-color: white;
   justify-content: center;
   gap: 100px;
   margin-top: 5rem;
   padding-bottom: 2rem;
   padding-top: 2rem;
   -webkit-box-shadow: 2px -8px 79px -40px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -8px 79px -40px rgba(0,0,0,0.75);
    box-shadow: 2px -8px 79px -40px rgba(0,0,0,0.75);
}

.contenedorInterior1{
    display: flex;
    gap: 10px;
    font-size: small;
    width: min-content;
}

.contenedorInterior2{
    display: flex;
    gap: 35px;
    width: min-content;
}


@media(max-width:1320px){
    .contenedor{
        flex-direction: column;
        align-items: center;
    }
    .contenedorInterior1{
        width: min-content;
        gap: 25px;
    }
    .contenedorInterior2{
        width: min-content;
        flex-direction: column;
    }
}
@media(max-width:700px){
    .contenedorInterior1{
        flex-direction: column;
        gap: 30px;
        width: min-content;
    }
    .contenedorInterior2{
        flex-direction: column;
        width: min-content;
    }
}