.opcionesViewContainer{
    width: 95vw;
    height: 150%;
    justify-content: center;
    padding: 0px 15px;
    align-items: center;
    background-color:rgba(8, 8, 22, 1);
    border-radius: 10px;
    margin-left: 5px;
}

.link_texto_views {
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: white;
    color: rgba(8, 8, 22, 1);
    padding: 8px;
    text-decoration: none; 
}

.listado_preguntas{
    background-color:rgba(17, 17, 57, 1) ;
    width: 50vw;
    border-radius: 10px;
    height: 90vh;
    padding: 10px;
}

li {
    margin-left: 20px;
}

.descripcion_opciones{
    display: flex;
    background-color: rgba(17, 17, 57, 1);
    width: 100%;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    text-align: justify;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -5px;
}

.respuesta_opciones{
    color: lightgray;
}

.encabezado_opciones{
    color: lightgray;
}

.preguntas{
    color: lightgray;
}

.volver_atras_opciones{
    margin-left: 5px;
    margin-top: 20px;
    padding: 5px;
    transition: 0.3s;
    padding-bottom: 20px;
    width: 200px;
}

.volver_atras_opciones:hover{
    transform: scale(1.1);
}

.contenedor_preguntas:hover{
    cursor: pointer;
    background-color: rgba(8, 8, 22, 1);
    border-radius: 15px;
    height: auto;
    justify-content: center;
    align-items: center;
    height: auto;
}

.preguntas:hover {
    cursor: pointer;
    background-color: rgba(8, 8, 22, 1);
    border-radius: 15px;
    padding-left: 10px;
    height: auto;
    justify-content: center;
    align-items: center;
    height: auto;
}