.contenedor{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    width:fit-content;
    cursor: pointer;
    z-index: 4;
}
.titulo {
    margin-top:6rem;
    margin-bottom:3rem;
    font-size:40px;
}
@media(max-width:1600px){
    .contenedor{
        grid-template-columns:1fr 1fr 1fr;
        width:fit-content;
    }
}
@media(max-width:1250px){
    .contenedor{
        grid-template-columns:1fr 1fr;
        width:fit-content;
    }
}

@media(max-width:820px){
    .contenedor{
        grid-template-columns:1fr;
        width:fit-content;
    }
}