.contenedor_botones_slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.slider_der {
  width: 60px;
  height: 50px;
  margin-left: 10px;
  align-items: center;
  text-align: center;
  background-color: rgba(80, 196, 237, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: transform 0.3s ease;
}

.slider_der:hover {
  transform: scale(1.2);
}

.slider_izq {
  width: 60px;
  height: 50px;
  margin-right: 10px;
  align-items: center;
  text-align: center;
  background-color: rgba(80, 196, 237, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: transform 0.3s ease;
}

.slider_izq:hover {
  transform: scale(1.2);
}

.pantalla_cartelera {
  width: 600px;
  height: 400px;
  background-color: grey;
  box-shadow: 1px 3px 35px 10px black;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pantalla_cartelera > .cartelera_opcion_1 {
  width: 590px;
  height: 390px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  border: 0.5px solid black;
  box-sizing: border-box;
}

.pantalla_cartelera:hover > .cartelera_opcion_1 {
  width: 100%;
  height: 100%;
  filter: brightness(110%);
}

.minipantallas_opciones_peliculas {
  width: 600px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}

.minipantallas_opciones_peliculas > img {
  width: 140px;
  height: 80px;
  border-radius: 5px;
  border: 1px solid grey;
  box-sizing: border-box;
  box-shadow: 1px 3px 10px 5px black;
  filter: brightness(20%);
}

.cartelera_opcion_1:hover {
  filter: brightness(110%);
}

.cartelera_opcion_2:hover {
  filter: brightness(110%);
}

.cartelera_opcion_3:hover {
  filter: brightness(110%);
}

.cartelera_opcion_4:hover {
  filter: brightness(110%);
}

.contenedor_general_slider {
  width: 100vh;
  height: 100%;
  background-color: yellow;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 2px 10px 2px;
}
