/* @font-face {
    font-family: 'Cera Pro Bold';
    src: url(../assets/Cera-Pro/Cera\ Pro\ Bold.otf) format();
  }
  
  
  @font-face {
    font-family: 'Cera Pro Light';
    src: url(../assets/Cera-Pro/Cera\ Pro\ Light.otf);
  }
  
  
  @font-face {
    font-family: 'Cera Pro Regular';
    src: url(../assets/Cera-Pro/Cera\ Pro\ Regular.otf);
  }
  
  
  @font-face {
    font-family: 'Cera Pro Medium';
    src: url(../assets/Cera-Pro/Cera\ Pro\ Medium.otf) format('opentypefont');
  }
  
  
  @font-face {
    font-family: 'Cera Pro Thin';
    src: url(../assets/Cera-Pro/Cera\ Pro\ Thin.otf);
  }
*/

.todo_perfilPelicula{
 
    display: flex;
    align-items: center;
    background-color: rgba(12, 13, 30, 1);
    position: fixed;
    z-index: 5;
    overflow-y: auto;
    border-radius: 10px;
    max-width: 98vw;
    max-height:99vh;
    top: 4px;
    left: 8px;
    scrollbar-width: thin;
    scrollbar-color:  rgba(56, 122, 223, 1)  rgba(12, 13, 30, 1);
    margin-bottom: 20px;
}

.contenedor_general_perfilPelicula{
display: flex;
flex-direction: column;
width: 100vw;
height: 150vh;
border: 5px solid rgba(56, 122, 223, 0.5);
box-shadow: 1px 2px 10px 2px;
border-radius: 10px;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
padding-top: 15px;
top: 230px;
margin-bottom: 20px;
}

.contenedor_imagen{
    width: 900px;
    height: 1100px;
    position: absolute;
    z-index: -1;
    filter: blur(4px);
    border-radius: 40px;
    border: transparent 1px solid;
    
}

.imagen_pelicula_id_perfilPelicula{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 2px 10px 4px;
    position: relative;
    top: -20px;
    left: 5px;
}

.contenedor_volver_atras_perfilPeliculas{
    display: flex;
    justify-content: right;
}

.volver_atras_perfilPeliculas{
    position: absolute;
    margin-right: 35px;
    right: 0;
    z-index: 1;
    display: flex;
    width: 2vw;
    height: 2vw;
    background-color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px; 
    margin-top: 10px;
    align-content: flex-end;  
    cursor: pointer;

}

.volver_atras_perfilPeliculas:hover{
    width: 2.2vw;
    height: 2.2vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(56, 122, 223, 1) ;
    transition: 0.3s;
}

.descripcion_pelicula_id_perfilPelicula{
    text-align: start;
    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px

}

.fecha_pelicula{
    display: flex;
    flex-direction: row;
}

.duracion_pelicula{
    display: flex;
    flex-direction: row;   
}

.generos_pelicula{
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.encabezado_perfilPeliculas{
    width: 80vw;
    height: 300px;
    display: flex;
    flex-direction: row;
    background-image: url('https://image.tmdb.org/t/p/w1200_and_h900_bestv2${data.backdrop_path}');
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px;
    margin-bottom: 20px;
    overflow: hidden;
}

.contenedor_genera_opciones_vista_perfilPelicula{
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contenedor_opciones_vista_perfilPelicula{
    width: 200px;
    height: auto;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor_opciones_vista_perfilPelicula:hover{
    background-color: rgba(12, 13, 30, 1);
    color: white;
    letter-spacing: 1px;
    transition: 0.3s;
}

.contenedor_reseñas_perfilPelicula{
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 30;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color:  rgba(12, 13, 30, 1);
    color: white;
    margin-bottom: 10px;
}

.contenedor_reseñas_y_reparto_perfilPelicula{
    background-color:rgba(255, 255, 255, 0.6);
    padding:20px;
    width: 75vw;
    height: 450px;
    overflow: hidden;
    overflow-x: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    scrollbar-width: thin;
    scrollbar-color:  rgba(56, 122, 223, 1)  rgba(12, 13, 30, 1);
}

.contenedor_reparto_perfilPelicula{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
}

.contenedor_reparto_perfilPelicula > h2{
    padding-bottom: 10px;
}

.contenedor_cast_perfilPelicula{
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    padding: 10px;
}

.card_reparto_personajes_perfilPelicula{
    padding: 5px;
    gap: 10px;
    background-color: rgba(56, 122, 223, 0.6) ;
    border-radius: 10px;
    transition: transform 0.3s ease;
    height: 290px;
}

.card_reparto_personajes_perfilPelicula:hover{
    transform: scale(1.1);
    filter: brightness(1);
    background-color: rgba(56, 122, 223, 1);
    cursor: pointer;
}

.card_reparto_personajes_texto_perfilPelicula{
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.imagen_personaje_pelicula_perfilPelicula{
    width: 125px;
    height: 200px;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.media_pelicula_perfilPelicula{
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70vw;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px 2px;
}

.contenedor_media_perfilPelicula{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contenedor_opciones_media_perfilPelicula{
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.opciones_media_perfilPelicula{
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    gap: 40px;
    width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
}

.opciones_media_perfilPelicula:hover{
    background-color: rgba(12, 13, 30, 1);
    color: white;
    letter-spacing: 2px;
    transition: 0.3s;
}

.cg_user{
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 5px;
}

.cg_user:hover{
    background-color: rgba(56, 122, 223, 1) ;
    border-radius: 3px;
    display: flex;
    transition: 0.3s;
}

.cg_heart{
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 5px;
}

.cg_heart:hover{
    background-color: rgba(215, 33, 33, 0.96);
    border-radius: 3px;
    display: flex;
    transition: 0.3s;
}
