.footerContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
  height: 90px;
  justify-content: center;
  padding: 0px 15px;
  align-items: center;
  text-align: center;
  background-color:rgba(8, 8, 22, 1);
}



.opcionesImagenes_footer{
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: auto;
  height: 80px;
  justify-content: center;
  padding: 0px 15px;
  align-items: center;
  text-align: center;
  background-color:rgba(17, 17, 57, 1);
  border-radius: 10px;
}

.opcionesTexto_footer{
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: auto;
  height: 70px;
  justify-content: center;
  padding: 0px 15px;
  align-items: center;
  text-align: center;
  background-color:rgba(17, 17, 57, 1);
  border-radius: 10px;
}
